{% extends "base_generic.html" %}

{% block content %}
<center>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td >{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<br>
<input type="submit" value="login" style="font-size: 16px;color:black;background-color:#e7e7e7;border:2px solid #336600;padding: 12px 28px;border-radius: 8px;" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><h4 class="post-subtitle"><a href="{% url 'password_reset' %}">Lost password?</a></h4></p>
</center>
{% endblock %}
